<div>
    <h1>Monolith Dashboard</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia ipsa, aliquam eum velit ullam numquam, facilis quia possimus similique, fugit veniam magnam tenetur saepe placeat alias distinctio quaerat nemo omnis.</p>
    <a class="btn btn-sm btn-dark" href="/dashboard">Go to Dashboard</a>
</div>